@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

#app {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Work Sans", serif;
  background: 
    linear-gradient(0deg, hsl(275, 100%, 97%) 50%, transparent 50%), 
    url("/assets/img/background-pattern-desktop.svg") no-repeat center center;
  background-size: 50% 100%, cover;
}

header h1 {
  font-weight: bold;
  font-size: 4rem;
}

hr {
  width: 100%;
  border: 0;
  border-top: 1px solid hsl(0, 1%, 66%);
  margin: 0.5rem 0;
}

.lead {
  font-size: 1.2rem;
  color: hsl(0, 0%, 48%);
  line-height: 1.8rem !important;
}

.faq-section {
  padding: 1.5rem;
}

.accordion-toggle-btn {
  padding: 0;   
  border: none; 
}
/* Uniemożliwienie klikania przycisku w całej jego powierzchni */
.accordion-toggle-btn {
  pointer-events: none; /* Wyłącza klikalność przycisku */
}

/* Włączenie klikalności tylko na obrazku */
.accordion-toggle-btn img {
  pointer-events: auto; /* Umożliwia klikanie tylko na obrazek */
}
